<!DOCTYPE html>
<html>
    <head>
        <title>{% block title '' %}Twig Front Dev mockup</title>

        {% stylesheets 
            'css/normalize.css'
            'css/main.less'
            filter='lessphp,cssrewrite' 
            output='compiled/css/main.css'
        %}
            <link rel="stylesheet" href="/{{ asset_url }}" />
        {% endstylesheets %}
            
        {% javascripts 
            'js/main.js'
            filter="" 
            output='compiled/js/main.js' 
        %}
            <script src="/{{ asset_url }}"></script>
        {% endjavascripts %}
            
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
