form_secret: 4fws6dg4w6df4<qg4sh4646qfgsd4

i18n:
  locale_fallback: fr
  languages: 
    - fr
    - en
  formats: 
    - yml
#   - xliff
  domains:
    - messages
    - validators

twig:
    variables:
#        foo: bar
